body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family:Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

#counter {
    font-size: 48px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 5px;
    transition: all .08s linear
}

button:hover {
    background-color: #329abd;
}

button:active {
    background-color: #008CBA;
}

button:disabled,
button[disabled]{
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

table {
    width: 50%;
    margin: 20px 0;
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid #cccccc;
}

th, td {
    padding: 10px;
    text-align: center;
}
